body {
    background-color: rgba(194, 187, 187, 0.801);
    color: black;
    margin: 50px 50px;
}


#personalPhoto {
    border-radius: 100%;
    border: 10px;
}

.aboutme {
    width: 550px;
    text-align: justify;
}

.topics,
.principal {
    font-weight: bold;
    color: #032fc0;
}